################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/docs/.vs/docs/config
/docs/.vs/docs/v17
/docs/.vs/slnx.sqlite
/docs/assets/css/.DS_Store
